<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://congestionator.herokuapp.com/</string>
	<key>OrganisationID</key>
	<string>1</string>
	<key>RKStubData</key>
	<false/>
	<key>RKObjectMappingLoggingLevel</key>
	<string>Trace</string>
	<key>RKCoreDataLoggingLevel</key>
	<string>Trace</string>
</dict>
</plist>
